<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8903551c9.js" crossorigin="anonymous"></script>
    <title>Certificate</title>
</head>
<body>
    <header>
        <a href="../index.html" class="logo">
            <h1>Dev<span class="logo-accent">portfolio</span></h1>
        </a>
        
          <nav>
              <ul>
                  <li><a href="./home.html">Home</a></li>
                  <li><a href="#About">About</a></li>
                  <li><a href="./certificate.html">Certificate</a></li> <!-- Corrected the spelling here -->
                  <li><a href="#Contact">Contact</a></li>
              </ul>
          </nav>
          <div class="social-icon">
              <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
      </header>

      <div class="container">
        <h1>Certificates</h1>
        <div class="row">
            <div class="col-md-4 certificate-card">
                <img class="certificate-img" src="https://media.licdn.com/dms/image/D4D22AQFZJeecZV0Myg/feedshare-shrink_2048_1536/0/1689829641764?e=1694044800&v=beta&t=K2Z23FI4EDdnUg5XD85Lz8Ih6bGTyeQI6fckd116y7I" alt="Certificate 1">
                
            </div>
            <div class="col-md-4 certificate-card">
                <img class="certificate-img" src="https://media.licdn.com/dms/image/D4D22AQFD3EkDAoJucg/feedshare-shrink_2048_1536/0/1687973921164?e=1693440000&v=beta&t=EnT2l436nUmeEj9PL8F8aiU_fNhJGM7WYpfvOb4C8EI" alt="Certificate 2">
            </div>
            <div class="col-md-4 certificate-card">
                <img class="certificate-img" src="https://media.licdn.com/dms/image/D4D22AQE-jkRD8-EBNw/feedshare-shrink_2048_1536/0/1687838075043?e=1693440000&v=beta&t=PUcfkPpLwt0auL4QR84sPWHCQkgzBb4SFU5e2ThBazA" alt="Certificate 3">
            </div>
        </div>
    </div>
    
    <footer class="footer-section">
        <div class="footer-container">
          <div class="footer-left">
            <h3>Contact Me</h3>
            <ul>
              <li><i class="fas fa-envelope"></i> Email: deveshshukla073@gmail.com</li>
              <li><i class="fas fa-phone"></i> Phone: +91 7355009060</li>
            </ul>
          </div>
          <ul class="menu">
            <li><a href="Components/home.html">Home</a></li>
            <li><a href="Components/Skills.html">Skills</a></li>
            <li><a href="Components/certificate.html">Certificate</a></li>
            <li><a href="Components/About.html">About</a></li>
          </ul>
          <div class="footer-right">
            <h3>Connect with Me</h3>
            <div class="social-icons">
              <a href="https://www.facebook.com/alkesh.shukla.7923" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/shuklaAlkesh" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <a href="./pdf/Alkesh_Shukla_resume.pdf" download class="resume-button">Download Resume</a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 Devesh Shukla. All rights reserved.</p>
        </div>
      </footer>
</body>
</html>