<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8903551c9.js" crossorigin="anonymous"></script>
    
    <title>Agriculture Student Portfolio</title>
</head>
<body>
    <header>
        <a href="./index.html" class="logo">
            <h1>Dev<span class="logo-accent">portfolio</span></h1>
        </a>
      
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Certificate">Certificate</a></li> <!-- Corrected the spelling here -->
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
        <div class="social-icon">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </header>
    
   <section >
        <div class="container">
            <div class="welcome-text">
                <h1>Welcome to Devesh portfolio</h1>
                <p>"Innovating Agriculture with Technology."</p>
                <p>Explore my journey in agriculture and technology.</p>
            </div>
        </div>
    </section>  
    <div class="about-section">
        <h1>Introduction</h1>
    <div class="about-content">
        <div class="bio">
            <h2>Hi! I'm Devesh Shukla, a BSc Hons Agriculture student 🌱.</h2>
            <p>Passionate about the field 🌾, I'm dedicated to building a successful career in agriculture 🌾. I'm eager to connect with professionals and organizations in the industry 👥, expand my network, and explore exciting opportunities that align with my interests and goals. Let's grow together! 🌱🌍</p>
        </div>
        <div class="images">
            <img src="./image/deveshImage.jpg" alt="Devesh Shukla">
        </div>
    </div>
    <div class="interests-section">
        <h1>Exploring Agritech and Organic Farming</h1>
        <div class="interests-content">
          <div class="text">
            <h2>Agritech</h2>
            <p>
              Agritech, short for Agricultural Technology, is an exciting field that combines agriculture with cutting-edge technologies to revolutionize farming practices. As an agriculture student, I am fascinated by the potential of agritech to address various challenges faced by the agricultural industry.
            </p>
            <p>
              Some areas of agritech that intrigue me include precision farming, where data-driven insights are used to optimize crop yields and resource utilization. I am also enthusiastic about the use of drones in agriculture, enabling efficient monitoring of crops and providing valuable data for decision-making.
            </p>
            <p>
              Through my coursework and research projects, I have explored how artificial intelligence and machine learning can be applied in agriculture to predict crop diseases, automate tasks, and enhance overall productivity. I believe that agritech has the power to transform traditional farming into a more sustainable and efficient practice for feeding a growing global population.
            </p>
          </div>
          <div class="image">
            <img src="https://etimg.etb2bimg.com/photo/86811374.cms" alt="Agritech Image">
          </div>
        </div>
        <div class="interests-content">
          <div class="image">
            <img src="https://kotharigroupindia.com/blog/images/organic-farming.JPG" alt="Organic Farming Image">
          </div>
          <div class="text">
            <h2>Organic Farming</h2>
            <p>
              Organic farming is a passion of mine, driven by my belief in sustainable and eco-friendly agricultural practices. Organic farming emphasizes the use of natural methods to nurture soil health, promote biodiversity, and produce food without synthetic chemicals.
            </p>
            <p>
              Throughout my agricultural journey, I have actively engaged in learning about organic farming principles and techniques. I have participated in workshops and volunteered on organic farms to gain hands-on experience in cultivating crops organically and adopting organic pest control methods.
            </p>
            <p>
              I am committed to promoting organic farming practices that contribute to healthier ecosystems, protect the environment, and provide consumers with safe and nutritious food choices. As an advocate for sustainable agriculture, I believe that organic farming can play a significant role in building resilient food systems for a sustainable future.
            </p>
          </div>
        </div>
    </div>
    <div class="container">
        <h1>Certificates</h1>
        <div class="row">
            <div class="col-md-4 certificate-card">
                <img class="certificate-img" src="https://media.licdn.com/dms/image/D4D22AQFZJeecZV0Myg/feedshare-shrink_2048_1536/0/1689829641764?e=1694044800&v=beta&t=K2Z23FI4EDdnUg5XD85Lz8Ih6bGTyeQI6fckd116y7I" alt="Certificate 1">
                
            </div>
            <div class="col-md-4 certificate-card">
                <img class="certificate-img" src="https://media.licdn.com/dms/image/D4D22AQFD3EkDAoJucg/feedshare-shrink_2048_1536/0/1687973921164?e=1693440000&v=beta&t=EnT2l436nUmeEj9PL8F8aiU_fNhJGM7WYpfvOb4C8EI" alt="Certificate 2">
            </div>
            <div class="col-md-4 certificate-card">
                <img class="certificate-img" src="https://media.licdn.com/dms/image/D4D22AQE-jkRD8-EBNw/feedshare-shrink_2048_1536/0/1687838075043?e=1693440000&v=beta&t=PUcfkPpLwt0auL4QR84sPWHCQkgzBb4SFU5e2ThBazA" alt="Certificate 3">
            </div>
        </div>
    </div>
    <div class="technology-agriculture-section">
        <div class="content">
          <h1>The Power of Tech in Agriculture</h1>
          <p>
            Embracing cutting-edge technology is key to transforming agriculture and ushering in a new era of sustainable farming practices. By leveraging the power of data analytics, precision farming, and smart irrigation systems, we can optimize resource utilization, enhance crop yields, and reduce environmental impact.
          </p>
          <p>
            Technology enables us to monitor crops remotely, predict weather patterns, and identify potential challenges in real-time. From drone-assisted crop surveillance to IoT-based smart sensors, we are reshaping the future of agriculture with innovation and data-driven insights.
          </p>
          <p>
            As an agriculture student, I am passionate about integrating technology with traditional farming knowledge to build resilient and efficient food systems. Through my journey, I aim to explore the endless possibilities that arise when we unite technology and agriculture, fostering sustainable growth and nourishing the world.
          </p>
          <div class="quote">
            <p><i class="fas fa-quote-left"></i> Embrace technology and sow the seeds of innovation in agriculture. Let's cultivate a greener and smarter tomorrow! 🌱🚜</p>
          </div>
        </div>
    </div>
      <!--------------Footer section ----------------------->

      <footer class="footer-section">
        <div class="footer-container">
          <div class="footer-left">
            <h3>Contact Me</h3>
            <ul>
              <li><i class="fas fa-envelope"></i> Email: deveshshukla073@gmail.com</li>
              <li><i class="fas fa-phone"></i> Phone: +91 7355009060</li>
            </ul>
          </div>
          <ul class="menu">
            <li><a href="Components/home.html">Home</a></li>
            <li><a href="Components/Skills.html">Skills</a></li>
            <li><a href="Components/certificate.html">Certificate</a></li>
            <li><a href="Components/About.html">About</a></li>
          </ul>
          <div class="footer-right">
            <h3>Connect with Me</h3>
            <div class="social-icons">
              <a href="https://www.facebook.com/alkesh.shukla.7923" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/shuklaAlkesh" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <a href="./pdf/Alkesh_Shukla_resume.pdf" download class="resume-button">Download Resume</a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 Devesh Shukla. All rights reserved.</p>
        </div>
      </footer>
      
      

   
</body>
</html>